<article class="post-card">
    <div>
        <a class="post-card-content-link" href="{{url}}">
            <h2 class="post-card-title">{{title}}</h2>
        </a>
        <div>
            <span>{{date published_at format="YYYY-MM-DD"}}</span>
            {{#if tags}}
                <span>&rsaquo;</span>
                {{#foreach tags limit="3"}}
                    <span class="post-card-tags">
                        <a href="{{url}}">
                            {{name}}
                        </a>
                    </span>
                {{/foreach}}
            {{/if}}
        </div>
    </div>
</article>
